/*строка поиска*/
.search
{
    font-size: 2vh;

    position: absolute;
    left: 11.5vw;

    overflow: hidden;

    box-sizing: border-box;
    width: 36vw;
    height: 6vh;
    margin-top: 3vh;
    padding-left: 2%;

    border: .2em solid white;
    border-radius: 2em;
    outline: none;
}

.search input
{
    font-family: Arial, Helvetica;
    font-size: 1.2em;

    position: absolute;

    width: 80%;
    height: 100%;

    color: white;
    border: none;
    outline: none;
    background: black;
}

.btnsubmit
{
    position: absolute;
    right: 3%;

    overflow: hidden;

    width: 10%;
    height: 100%;

    color: white;
    border: none;
    outline: none;
    background: black;
    background-image: url(../system_img/search.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%;
}

/*laptop L*/
@media (max-width: 1441px) and (max-height: 900px)
{
    /*строка поиска*/
    .search
    {
        font-size: 2vh;

        position: absolute;
        left: 11.5vw;

        overflow: hidden;

        box-sizing: border-box;
        width: 36vw;
        height: 6vh;
        margin-top: 3vh;
        padding-left: 2%;

        border: .2em solid white;
        border-radius: 2em;
        outline: none;
    }

    .search input
    {
        font-family: Arial, Helvetica;
        font-size: 1.2em;

        position: absolute;

        width: 80%;
        height: 100%;

        color: white;
        border: none;
        outline: none;
        background: black;
    }

    .btnsubmit
    {
        position: absolute;
        right: 3%;

        overflow: hidden;

        width: 10%;
        height: 100%;

        color: white;
        border: none;
        outline: none;
        background: black;
        background-image: url(../system_img/search.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 45%;
    }
}

/*laptop*/
@media (max-width: 1240px) and (max-height: 900px)
{
    /*строка поиска*/
    .search
    {
        font-size: 2vh;

        position: absolute;
        left: 11.5vw;

        overflow: hidden;

        box-sizing: border-box;
        width: 36vw;
        height: 6vh;
        margin-top: 3vh;
        padding-left: 2%;

        border: .2em solid white;
        border-radius: 2em;
        outline: none;
    }

    .search input
    {
        font-family: Arial, Helvetica;
        font-size: 1.2em;

        position: absolute;

        width: 80%;
        height: 100%;

        color: white;
        border: none;
        outline: none;
        background: black;
    }

    .btnsubmit
    {
        position: absolute;
        right: 3%;

        overflow: hidden;

        width: 10%;
        height: 100%;

        color: white;
        border: none;
        outline: none;
        background: black;
        background-image: url(../system_img/search.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 45%;
    }
}

/*tablet*/
@media (max-width: 769px) and (max-height: 1025px){
    /*строка поиска*/
    .search
    {
        font-size: 2vh;

        position: absolute;
        top: 23%;
        left: 8%;

        overflow: hidden;

        box-sizing: border-box;
        width: 55%;
        height: 52%;
        margin: 0;
        padding-left: 3.5%;

        border: .2em solid white;
        border-radius: 2em;
        outline: none;
    }

    .search input
    {
        font-family: Arial, Helvetica;
        font-size: 1.2em;

        position: absolute;

        width: 65%;
        height: 100%;

        color: white;
        border: none;
        outline: none;
        background: black;
    }

    .btnsubmit
    {
        position: absolute;
        right: 3%;

        width: 23%;
        height: 100%;

        color: white;
        border: none;
        outline: none;
        background: black;
        background-image: url(../system_img/search.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 27%;
    }
}

/*mobile L*/
@media (max-width: 426px) and (max-height: 900px)
{
    /*строка поиска*/
    .search
    {
        font-size: 2vh;

        position: absolute;
        top: 23%;
        left: 8%;

        overflow: hidden;

        box-sizing: border-box;
        width: 55%;
        height: 52%;
        margin: 0;
        padding-left: 3.5%;

        border: .2em solid white;
        border-radius: 2em;
        outline: none;
    }

    .search input
    {
        font-family: Arial, Helvetica;
        font-size: 1.2em;

        position: absolute;

        width: 65%;
        height: 100%;

        color: white;
        border: none;
        outline: none;
        background: black;
    }

    .btnsubmit
    {
        position: absolute;
        right: 3%;

        width: 23%;
        height: 100%;

        color: white;
        border: none;
        outline: none;
        background: black;
        background-image: url(../system_img/search.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40%;
    }
}

/*mobile M*/
@media (max-width: 376px) and (max-height: 900px)
{
    /*строка поиска*/
    .search
    {
        font-size: 2vh;

        position: absolute;
        top: 23%;
        left: 8%;

        overflow: hidden;

        box-sizing: border-box;
        width: 55%;
        height: 52%;
        margin: 0;
        padding-left: 3.5%;

        border: .2em solid white;
        border-radius: 2em;
        outline: none;
    }

    .search input
    {
        font-family: Arial, Helvetica;
        font-size: 1.2em;

        position: absolute;

        width: 65%;
        height: 100%;

        color: white;
        border: none;
        outline: none;
        background: black;
    }

    .btnsubmit
    {
        position: absolute;
        right: 3%;

        width: 23%;
        height: 100%;

        color: white;
        border: none;
        outline: none;
        background: black;
        background-image: url(../system_img/search.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40%;
    }
}

/*mobile S*/
@media (max-width: 321px) and (max-height: 900px)
{
    /*строка поиска*/
    .search
    {
        font-size: 2vh;

        position: absolute;
        top: 23%;
        left: 8%;

        overflow: hidden;

        box-sizing: border-box;
        width: 55%;
        height: 52%;
        margin: 0;
        padding-left: 3.5%;

        border: .2em solid white;
        border-radius: 2em;
        outline: none;
    }

    .search input
    {
        font-family: Arial, Helvetica;
        font-size: 1.2em;

        position: absolute;

        width: 65%;
        height: 100%;

        color: white;
        border: none;
        outline: none;
        background: black;
    }

    .btnsubmit
    {
        position: absolute;
        right: 3%;

        width: 23%;
        height: 100%;

        color: white;
        border: none;
        outline: none;
        background: black;
        background-image: url(../system_img/search.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40%;
    }
}

/*сжимание экрана смартфона при использовании поиска*/
@media (max-width: 481px) and (max-height: 491px)
{
    /*строка поиска*/
    .search
    {
        font-size: 2vh;

        position: absolute;
        top: 27%;
        left: 8%;

        overflow: hidden;

        box-sizing: border-box;
        width: 55%;
        height: 46%;
        margin: 0;
        padding-left: 3.5%;

        border: .3em solid white;
        border-radius: 2em;
        outline: none;
    }

    .search input
    {
        font-family: Arial, Helvetica;
        font-size: 1.4em;

        position: absolute;

        width: 65%;
        height: 100%;

        color: white;
        border: none;
        outline: none;
        background: black;
    }

    .btnsubmit
    {
        position: absolute;
        right: 3%;

        width: 23%;
        height: 100%;

        color: white;
        border: none;
        outline: none;
        background: black;
        background-image: url(../system_img/search.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40%;
    }
}
