@import url('main_menu.css');
@import url('topbar.css');
@import url('menu_18.css');
@import url('search.css');


body
{
    margin: 0;

    color: white;
    background-image: url('../system_img/mainback.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
   nav, section
    {
        box-sizing: border-box;
    }

/*скрол*/
::-webkit-scrollbar
{
    width: .5em;

    border: .1em solid grey;
    border-radius: 4em;
}
::-webkit-scrollbar-track
{
    border: none;
    background: inherit;
}
::-webkit-scrollbar-thumb
{
    border-radius: 4em;
    background: inherit;
    background: rgba(255,165,0,.4);
}

/*сжимание экрана смартфона при использовании поиска*/
@media (max-width: 481px) and (max-height: 491px)
{
    /*поля*/
    .field,
    .anime .fieldanime,
    .field18
    {
        height: 80%;
    }

    .fieldpage,
    .textabout
    {
        height: 76%;
    }
}
